
 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	transition: all 0.5s ease;
}

body {
	font-family: sans-serif;
	background: radial.gradient(circle, #eeaeca 0%, #94bbe9 100%);
}

.wrapper{
	height: 100vh;
	display: grid;
	place-items:center;
}

.calc-box{
	position: relative;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 30px #8a817c
}

.theme-switch{
	position:absolute;
	top: 30px;
	right: 30px;
	cursor: pointer;
	z-index: 1;
	color: #fff;
}

.theme-swicth.active{
	color: #333;
}

.theme-swicth::before{
	content:"";
	height: 30px;
	width: 30px;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	background-color: #333;
	z-index: -1;
}

.theme-swicth.active::before{
	background-color: #fff;
}

.screen #result{
	margin: 0 10px 20px;
	height: 150px;
	max-width: 270px;
	align-items: flex-end;
	justify-content: flex-end;
	overflow-x: auto;
}

result::-webkit-Scrollbar{
	display: block;
	height: 3px;
}

button{
	height: 60px;
	width: 60px;
	border: none;
	border-radius: 30px;
	margin: 5px;
	font-size: 20px;
	cursor: pointer;
	transition: transform 0.2s ease;
}

button:hover{
	transform: scale(1.1);
}

.equals{
	height: 130px;
}

/* Light Theme */
.calc-box{
	background-color: #e8dadb;
}

.calc-box #result{
	color: #332e2b;
}

.calc-box button #clear{
	background-color: #fc120a;
	color: #ffdbda;
}

.calc-box button .num-btn{
	background-color: #339989;
	color: #7de2d1;
}

.calc-box button .op-btn{
	background-color: #b6a6ca;
	color: #f1e4f3;
}

/* Dark Theme */
.dark-theme{
	background-color: #071115;
}

.dark-theme #result{
	color: #f8fafd;
}

.dark-theme button #clear{
	background: #785964;
	color:#d5c7bc;   	
}

.dark-theme button .num-btn{
	background: #3a606e;
	color:#f8fafb;   	
}

.dark-theme button .op-btn{
	background: #afbfc0;
	color:#4e8098;   	
}

.dark-theme button .equals{
	background: #566246; 	
}