*{
	outline: none;
	box-sizing: border-box;
}

body{
	margin:0;
	height: 100vh;
	width: 100vw;
	background: radial-gradient(circle,rgba(238, 174, 202, 1) 28%, rgba(148, 187, 233, 1) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}

#wrapper{
	display: flex;
	flex-flow: column wrap;
	height: 90vh;
	width: 30vw;
	background: hsl(2deg 0% 25%);
	border-radius: 10px;
}

input{
	height: 13%;
	overflow: hidden;
	background: hsl(207deg 100% 98%);
	margin: 10px 15px 0 15px ;
	border: 0px;
	border-radius: 10px;
	font-size: 2rem;
	color: black;

}

#keys{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	width: 100%;
	height: 85%;
	gap: 2.5vh 0;
	padding: 10px;
}

button{
	height:4rem;
	width: 4rem;
	border-radius: 50%;
	border: none;
	text-align: center;
	color: white;
	font-size: 2.114rem;
	font-weight: bold;
	background: hsl(2deg 0% 30%);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button:hover{
	background: hsl(2deg 0% 40%);
}

button:active{
	background: hsl(2deg 0% 50%);
}



.equal{
	width:92%;
	grid-column: 1/ span 4;
	border-top-left-radius: 0%;border-bottom-right-radius: 0%;
	border-top-right-radius: 50%;border-bottom-left-radius: 50%;
	text-align: center;
	color: green;
}

.operation-button{
	color: green;
}

.clear{
	color: crimson;
}

.number-button{
	color: dodgerblue;
}

@media screen and (max-width: 860px){

	#wrapper{
	width: 40vw;	
	}
	
}

@media screen and (max-width: 800px){

	#wrapper{
	width: 43vw;	
	}
}

@media screen and (max-width: 760px){

	#wrapper{
	width: 48vw;	
	}
	
}

@media screen and (max-width: 700px){

	#wrapper{
	width: 50vw;	
	}
}

@media screen and (max-width: 630px){
	#wrapper{
	width: 61vw;		
	}
}

@media screen and ( min-width:790px ){
		.equal{
		font-size:3.5rem;
		}
}

@media screen and ( min-width:590px ){
		.equal{
		font-size:3rem;
		}
}

@media screen and ( max-width:589px ){
		.equal{
		font-size:2.8rem;
		}
}

@media screen and (max-height: 630px){
	#wrapper{
	height: 95vh;		
	}
}

@media screen and (max-height: 590px){
	#wrapper{
	height: 98vh;		
	}
}

@media screen and (max-height: 570px){
	#wrapper{
	height: 100vh;		
	}
}

@media screen and (max-height: 555px){
	#wrapper{
	height: 107vh;		
	}
}

@media screen and (max-height: 549px){
	#wrapper{
	height: 115vh;		
	}
}


